<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.gdl.lims.member.dao.MemberMapper">

	<!-- 회원 목록 조회 -->	
	<select id="selectMemberList" resultType="com.gdl.lims.member.domain.Member">
     	SELECT member_id
     		 , kor_name
     		 , eng_name
     		 , affiliation
     		 , researcher_id
     		 , mobile_no
     		 , position
     		 , email
     	  FROM member
	</select>
	
	<!-- 회원 조회 -->	
	<select id="selectMember" resultType="com.gdl.lims.member.domain.Member">
     	SELECT member_id
        	 , kor_name
			 , eng_name
			 , group_code
			 , affiliation
			 , researcher_id
			 , mobile_no
			 , res_register_id
			 , position
			 , email
			 , bank
			 , account
			 , edu_lvl
			 , guardian_mobile
			 , guardian_relation
			 , nas_link
     	  FROM member
     	 WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원 등록 -->
	<insert id="insertMember">
		INSERT INTO member
			(
				  member_id
				, member_pwd
				, kor_name
				, eng_name
				, group_code
				, affiliation
				, researcher_id
				, mobile_no
				, res_register_id
				, position
				, email
				, bank
				, account
				, edu_lvl
				, guardian_mobile
				, nas_link
				, remark
				, reg_dt
				, reg_id
				, mod_dt
				, mod_id
			) VALUES (
				  #{memberId}
				, #{memberPwd}
				, #{korName}
				, #{engName}
				, #{groupCode}
				, #{affiliation}
				, #{researcherId}
				, #{mobileNo}
				, #{resRegisterId}
				, #{position}
				, #{email}
				, #{bank}
				, #{account}
				, #{eduLvl}
				, #{guardianMobile}
				, #{nasLink}
				, #{remark}
				, CURRENT_TIMESTAMP()
				, #{regId}
				, CURRENT_TIMESTAMP()
				, #{modId}
			)
	</insert>
	
	<!-- 회원 수정 -->
	<update id="updateMember">
		UPDATE member
		   SET kor_name 		= #{korName}
	         , eng_name 		= #{engName}
	         , group_code 		= #{groupCode}
	         , affiliation 		= #{affiliation}
	         , researcher_id 	= #{researcherId}
	         , mobile_no 		= #{mobileNo}
	         , res_register_id 	= #{resRegisterId}
	         , position 		= #{position}
	         , email 			= #{email}
	         , bank 			= #{bank}
	         , account 			= #{account}
	         , edu_lvl 			= #{eduLvl}
	         , guardian_mobile 	= #{guardianMobile}
	         , nas_link 		= #{nasLink}
	         , remark			= #{remark}
	         , mod_dt			= CURRENT_TIMESTAMP()
	         , mod_id			= #{modId}
		 WHERE member_id = #{memberId}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="deleteMember">
		DELETE 
			FROM 	member
			WHERE 	member_id = #{memberId}
	</delete>
	
</mapper>