<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.gdl.lims.project.dao.ProjectMapper">

	<!-- 과제정보 목록 조회 -->	
	<select id="selectProjectList" resultType="com.gdl.lims.project.domain.Project">
     	SELECT PROJECT_ID
     	  FROM PROJECT
	</select>
	
	<!-- 과제정보 조회 -->	
	<select id="selectProject" resultType="com.gdl.lims.project.domain.Project">
     	SELECT PROJECT_ID
     	  FROM MEMBER
	</select>
	
	<!-- 과제정보 등록 -->
	<insert id="insertProject">
		INSERT INTO PROJECT
			(
				  PROJECT_NO
				, DIRECTOR_ID
				, TITLE
				, SHORT_TITLE
				, START_DATE
				, END_DATE
				, BUDGET
				, OVERHEAD
				, OVERHEAD_PROD
				, PROJ_NAT_NO
				, ACKNOWLEDGEMENT
				, PROGRESS_CD
				, PROJ_BANK
				, PROJ_ACCOUNT
				, PROJ_ORDERING
				, PROJ_SUPPORTING
				, PROJ_ROLE
				, PROJ_MNG_DEPART
				, REMARK
				, REG_DT
				, REG_ID
				, MOD_DT
				, MOD_ID
			) VALUES (
				  #{projectNo}
				, #{DirectorId}
				, #{Title}
				, #{ShortTitle}
				, #{StartDate}
				, #{EndDate}
				, #{budget}
				, #{overhead}
				, #{overheadProd}
				, #{projNatNo}
				, #{acknowledgement}
				, #{progressCd}
				, #{projBank}
				, #{projAccount}
				, #{projOrdering}
				, #{projSupporting}
				, #{projRole}
				, #{projMngDepart}
				, #{remark}
				, #{regDt}
				, #{regId}
				, #{modDt}
				, #{modId}
			)
	</insert>
	
	<!-- 과제정보 수정 -->
	<update id="updateProject">
		UPDATE PROJECT
			PROJECT_TITLE is not null
	</update>
	
	<!-- 과제정보 삭제 -->
	<delete id="deleteProject">
		DELETE 
			FROM 	MEMBER
			WHERE 	MEMBER_ID = #{memberId}
	</delete>
	
</mapper>